<h1> Find Your Patient To Add To</h1>

<form method="POST">
        <input type="hidden" name="stage" value="find">
        FIRST: <input name="FIRST">
        LAST: <input name="LAST">
    <label for="category">Choose a Category:</label>
    <select name="category" id="category">
    <option value="patients">Demographics</option>
    <option value="allergies">Allergies</option>
    <option value="conditions">Conditions</option>
    <option value="encounters">Encounters</option>
    </select>
    <button type="submit">Find Patient</button>
    
    
</form>

<a href="/">Home</a>





