<head>
  <meta charset="UTF-8"> <!-- Tells the browser which character set to use. -->
  <title>Add Patient</title> <!-- Sets the tab title shown in the browser. -->
  <link rel="stylesheet" href="{{ url_for('static', filename='add_patient.css') }}"> <!-- Links this page to the CSS file in the static folder. -->
</head>
<body>
<h1>Add Patient</h1>

<form method="POST">

  {% for column in columns %}
   <p> {{column}}: <input name="{{column}}"><br></p>
  {% endfor %}

    <button type="submit">Add</button>

</form>

<a href="/">Home</a>

</body>
<span class="heart" style="left: 10%; animation-duration: 6s;">♥</span>
<span class="heart" style="left: 30%; animation-duration: 8s; animation-delay: 2s;">♥</span>
<span class="heart" style="left: 55%; animation-duration: 7s; animation-delay: 1s;">♥</span>
<span class="heart" style="left: 75%; animation-duration: 9s; animation-delay: 3s;">♥</span>
<span class="heart" style="left: 90%; animation-duration: 6.5s; animation-delay: 0.5s;">♥</span>
