<head>
  <meta charset="UTF-8"> <!-- Tells the browser which character set to use. -->
  <title>Search Patient</title> <!-- Sets the tab title shown in the browser. -->
  <link rel="stylesheet" href="{{ url_for('static', filename='search_patient.css') }}"> <!-- Links this page to the CSS file in the static folder. -->
</head>

{% if stage == "find patient" %}
<body>
<h1>Search Patient</h1>
<form method="POST">
    <input type="hidden" name="stage" value="find patient">
    <p>
    <label>FIRST:</label> <input name="FIRST">
    <label>LAST:</label> <input name="LAST">
    {% if error %}
        {{ error }}
    {% endif %}
    <select name="TYPE" class="dropdown">
        <option value="">--Select Test Type--</option>
        <option value="Patients">Patients</option>
        <option value="Allergies">Allergies</option>
        <option value="Conditions">Conditions</option>
        <option value="Encounters">Encounters</option>
    </select>
    <button type="submit">Search</button>
    </p>
</form>
</body>
{% endif %}

{% if stage == "show results" %}
    <input type="hidden" name="stage" value="show results">

    <h1>{{ option }}</h1>

    {% if option == "Patients" %}
        
        <div class="form-grid">
        {% for label, value in results.items() %}
            <div class="field">
                <label>{{ label }}</label> <p>{{ value }}</p>
            </div>
        {% endfor %}
        </div>
        

    {% else %}
        
        {% for item in results %}
            <div class="form-grid">
            {% for label, value in item.items() %}
                <div class="field">
                    <label>{{ label }}</label> <p>{{ value }}</p>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        

    {% endif %}
{% endif %}

<p>Return to <a href="/search">Search</a> Or <a href="/menu">Home</a></p>
<span class="heart" style="left: 10%; animation-duration: 6s;">♥</span>
<span class="heart" style="left: 30%; animation-duration: 8s; animation-delay: 2s;">♥</span>
<span class="heart" style="left: 55%; animation-duration: 7s; animation-delay: 1s;">♥</span>
<span class="heart" style="left: 75%; animation-duration: 9s; animation-delay: 3s;">♥</span>
<span class="heart" style="left: 90%; animation-duration: 6.5s; animation-delay: 0.5s;">♥</span>









